*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.inter-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}

header{
  background-color: white;
  padding-top:16px ;
}
nav{
  width: 85%;
  max-width: 1600px;
  margin: 0px auto;
  display: flex;
  justify-content: space-between;
}

nav .menu{
  display: flex;
  list-style: none;
  gap: 32px;
  align-items: center;
  font-size: 16px;
  cursor: pointer;
  margin-bottom: 18px;;
}
nav .menu li a{
  text-decoration: none;
  color: black;
}

nav .logo img{
  height: 60px;
  margin-bottom: 16px;
}

nav .button{
  list-style: none;
  font-size: 16px;
  margin-top: 10px;
} 
.btn-green{
  color: white;
  border: none;
  padding: 12px 24px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  background-color: #469165;
}

.hero-banner{
  background-image:url('./images/hero-bg.png');
  background-repeat: no-repeat;
  background-position: center;
  padding-left: 120px;
  padding-right: 120px;
  padding-top: 70px;
  padding-bottom: 134px;
  text-align: center;
  height: 674px;
}

.hero-banner .hero-text{
  color: white;
}
.hero-banner p{
  font-size: 18px;
}
.hero-banner h1{
  font-size: 72px;
  margin-top: 16px;
  margin-bottom: 16px;
}
.color-green{
  color: #30B868;
}
.highlight{
  background-color: white;
  font-size: 16px;
  color: #30B868;
  padding-left: 12px;
  padding-right: 12px;
  padding-top: 8px;
  padding-bottom: 8px;
  border: none;
  border-radius: 1000px;
  display: inline-block;
}

.hero-buttons{
  display: flex;
  justify-content: center;
  gap: 16px;
  margin-top: 32px;
}

.btn-white{
  color: white;
  border: 2px solid white;
  padding: 12px 24px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  background-color: transparent;
}

#about{
  padding-left: 120px;
  padding-right: 120px;
  padding-top:48px;
  text-align: center;
  background-color: white;
  max-width: 1600px;
  margin: 0px auto;
}

#about h1{
  font-size: 48px;
  color: #001931;
  margin-bottom: 16px;
}
#about h3{
  font-size: 24px;
  color: #001931;
  margin-top: 16px;
  margin-bottom: 16px;
  font-weight: 600;
}

#about p{
  font-size: 16px;
  color: #627382FF;
}
#about .about-info{
  display: flex;
  gap: 24px;
  margin-top: 44px;
  justify-content: center;
}

#about .about-info .info-card{
  width: 322px;
  background-color: white;
  border-radius: 8px 8px 0px 0px;
  box-shadow:
    -8px 0px 8px 0px rgba(0, 0, 0, 0.01), 
     8px 0px 8px 0px rgba(0, 0, 0, 0.01),  
     0px -8px 8px 0px rgba(0, 0, 0, 0.01);
  padding: 24px;
}

#about .about-info .info-card img{
  width:32px;
  height: 32px;
  position: center;
}

#about .about-info .info-card .ellipse{
  background-color: #F95555;
  width: 60px;
  height: 60px;
  margin: 0 auto 20px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

#solution{
  padding: 120px;
  background-color: white;
}

#solution p{
  font-size: 16px;
  color: #627382FF;
  margin-bottom: 32px;
}
#solution .color-green{
  font-size: 16px;
  color: #30B868;
  margin-bottom: 16px;
}

#solution h1{
  font-size: 48px;
  color: #001931;
  margin-bottom: 16px;
}

#solution .solution-container{ 
  display: flex;
  gap: 60px;
  justify-content: center;
}

#solution .solution-container .solution-image img{
  width: 600px;
  height: 600px;
}
.solution-info{
  padding-top:102px;
  padding-bottom: 102px; 
}

#solution ul{
  list-style: none;
  color: #001931;
}
#solution ul li{
  font-size: 16px;
  margin-bottom: 16px;
}
.fa-circle-check{
  color: #30B868;
  margin-right: 7.87px;
}


#access{
  padding-left: 120px;
  padding-right: 120px;
  padding-bottom: 120px;
  padding-top: 2px;
}

#access h1{
  font-size: 48px;
  color: #001931;
  margin-bottom: 16px;
}

#access p{
  font-size: 16px;
  color: #627382FF;
  margin-bottom: 24px;
  margin-top: 16px;
}

#access .access-container{
  text-align: center;
  background-color: #F7F6F2;
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 80px;
  padding-bottom: 80px;
  border-radius: 12px;
}

footer{
  padding-left: 120px;
  padding-right: 120px;
  padding-top:120px ;
  padding-bottom: 32px;
  background-color: #001931;
  color: white;
}

footer .footer-container{
  display: flex;
  justify-content: space-between;
}

footer .footer-container p{
  font-size: 20px;
}
footer .social-links{
  display: flex;
  gap: 16px;
  margin-top: 16px;
}

footer .social-links a{
  color: white;
  font-size: 24px;
  text-decoration: none;
}
footer li{
  list-style: none;
}
footer .copy-write{
  text-align: center;
  margin-top: 80px;
  font-size: 16px;
  color: #A0A0A0;
  margin-bottom: 32px;
  padding-top: 30px;
}

.btn-green:hover{
  background-color: #30B868;
  box-shadow: 0px 4px 8px rgba(48, 184, 104, 0.4);
}

.btn-white:hover{
  background-color: white;
  color: #001931;
  box-shadow: 0px 4px 8px rgba(0, 25, 49, 0.2);
}

hr{
  border: none;
  border-top: 1px solid #627382;
  margin-bottom: 30px;
}